<section class="portfolio-block block-intro mt-3 mb-5">
  <div class="container">
    <h1>Statics#index</h1>
    <p>Find me in app/views/statics/index.html.erb</p>
    <%= request.subdomain %>
    <%= current_subdomain_url %>
    <br>
    <%= current_user_subdomain_url %>
  </div>
</section>
