.portfolio-block.block-intro .avatar {
  width: 150px;
  height: 150px;
  background-image: url('//via.placeholder.com/150x150.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 100px;
  margin-bottom: 30px;
}
#mainNav {
  border-bottom: 1px solid rgba(45,45,45,.1);
  transition: all .2s;
}

.navbar {
  background-color: #2d2c38;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}
.top-center {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
}
.navbar-nav .dropdown-toggle::after {
  display: none;
}